.landing-content {
    flex-direction: column;
}

.oyb-row {
    justify-content: space-between;
}

.sub-title {
    font-weight: bold;
    font-size: 22px;
    color: lightblue;
    text-align: center;
}

.daemon-content {
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.daemon-status {
    font-weight: bold;
}

.device-version {
    font-weight: bold;
}

.card-content {
    flex-direction: column;
    justify-content: center;
}

.card-detail {
    margin-top: 4px;
    font-size: 18px;
    color: #b8b8b8;
}

.status-card {
    margin-top: 12px;
}
