.card {
    height: 92px;

    padding: 3px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;

    border-radius: 15px;

    align-items: center;

    background-color: #212021;
    background-position: right;
}

.card-icon {
    margin: 3px;
    padding: 8px;

    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
    flex-shrink: 0;

    background-color: #646363;
    border-radius: 50%;
}

.card-content {
    flex: 1;
}
